<body class="controller_participants">

<div class="participant-title col-12" style="background-image: url(https://www.ophorus.com/UPLOADS/PRODUITS/281/ophorus-310768-media-principal-aix-en-provence-visit-cassis-village-wines-private-shore-excursion-from-marseille_large.jpeg)">
    <div class='home-link'>
      <%= link_to root_path do %>
        <h6><i class="fas fa-angle-left"></i> Retour</i></h6>
      <% end %>
    </div>
    <h1 class="big-title-participation">Inscris-toi</h1>
    <h5 class="down-arrow"><i class="fas fa-arrow-down"></i></h5>
</div>

<%= render "shared/form" %>

<h3 class='attendance-title listed-events justify-content-center'>
  Déjà Inscrit
</h3>

<div class="listed-attendees">
  <ul class="grid-attendees">
    <% @attendees.each do |attendee| %>
        <p>
          <i class="fas fa-check"></i> <%= attendee.prenom %> <%= attendee.nom %>
        </p>
    <% end %>
  </ul>
</div>
