<div>

  <%= link_to new_participant_path, class: "navbar-brand" do %>
       <i class="fas fa-seedling"></i>
  <% end %>

  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-chart-pie"></i>
  <% end %>

  <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-user"></i>
  <% end %>

</div>
