<body class="controller_participants">

<div class="participant-title col-12" style="background-image: url(https://www.sonomamag.com/wp-content/uploads/2020/06/BRCohn-7143-1-scaled.jpg)">
    <div class='home-link'>
      <%= link_to root_path do %>
        <h6><i class="fas fa-angle-left"></i> Retour</i></h6>
      <% end %>
    </div>
    <h1 class="big-title-participation">Au Programme</h1>
    <h5 class="down-arrow"><i class="fas fa-arrow-down"></i></h5>
</div>

<div class="listed-events">

  <div class="grid-events">
    <div class="card-events jeudi">
      <p><i class="fas fa-calendar-day"></i> <strong> Jeudi 26/05/2022</strong></p>
      <p><i class="fas fa-train"></i> Arrivée & balade</p>
      <p><i class="fas fa-wine-glass"></i> Apéro dinatoire</p>
      <div class="listed-events justify-content-center">
        <p>--------</p>
      </div>
    </div>
    <div class="card-events vendredi">
      <p><i class="fas fa-calendar-day"></i> <strong> Vendredi 27/05/2022</strong></p>
      <p><i class="fas fa-mug-hot"></i> Petit Déjeuner livré au domaine</p>
      <p><i class="fas fa-bicycle"></i></i> Tour en vélo</p>
      <p><i class="fas fa-wine-glass"></i> Dégustation de vin</p>
      <p><i class="fas fa-drumstick-bite"></i> Soirée BBQ au domaine</p>
      <div class="listed-events justify-content-center">
        <p>--------</p>
      </div>
    </div>
    <div class="card-events samedi">
      <p><i class="fas fa-calendar-day"></i> <strong> Samedi 28/05/2022</strong></p>
      <p><i class="fas fa-mug-hot"></i> Petit Déjeuner livré au domaine</p>
      <p><i class="fas fa-landmark"></i> Visite culturelle & découverte de la région</p>
      <p><i class="fas fa-wine-glass"></i> Specialités de la région au domaine</p>
      <div class="listed-events justify-content-center">
        <p>--------</p>
      </div>
    </div>
    <div class="card-events dimanche">
      <p><i class="fas fa-calendar-day"></i> <strong> Dimanche 29/05/2022</strong></p>
      <p><i class="fas fa-mug-hot"></i> Petit Déjeuner livré au domaine</p>
      <p><i class="fas fa-cash-register"></i> Visite marché du village</p>
      <p><i class="fas fa-train"></i> Départ</p>
    </div>

  </div>

</div>
