<div class="participant-title col-12" style="background-image: url(https://images.unsplash.com/photo-1527684651001-731c474bbb5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)">
    <div class='home-link'>
      <%= link_to root_path do %>
        <h5><i class="fa-solid fa-angle-left"></i> <i class="fa-solid fa-house"></i></h5>
      <% end %>
    </div>
    <h1 class="big-title-participation">Infos Pratiques</h1>
    <h5 class="down-arrow"><i class="fa-solid fa-arrow-down"></i></h5>
</div>

<div class="m-2 mt-4">
  <div class="listed-events justify-content-center mb-2">
    <h3><i class="fa-solid fa-circle-info"></i> Accès</h3>
  </div>
    <p>
      Les gîtes et chambres d’hôtes des Terrasses du Soleil sont situés en Drôme Provençale à quelques kilomètres de l’Enclave des Papes et de la Provence dans le Sud Est de la France
    </p>
    <p>
      Les villes les plus proches sont Montélimar, Valence et Avignon et un peu plus loin, Marseille, Montpellier et Lyon.  La mer Méditérannée est à 150km au Sud.
    </p>
    <p>
      L'adresse postale est la suivante:
    </p>
    <p>
      Les Terrasses du Soleil
      61 Route de Nyons
      26770 Le Pègue
      France
    </p>
</div>
<div class="listed-events justify-content-center mt-4 mb-4">
  <a href="https://www.google.nl/maps/place/Les+Terrasses+du+Soleil/@44.3804257,4.7973907,9z/data=!4m9!3m8!1s0x12b57d5b294f1acf:0xd799e76b535a9d85!5m3!1s2022-02-25!4m1!1i2!8m2!3d44.426773!4d5.0497151 " target="_blank" class="btn infos-btn"><i class="fa-solid fa-map-location-dot"></i> Click ici pour Google Maps</a>
</div>

<div class="m-2 mt-4">
  <div class="listed-events justify-content-center mb-2">
    <h3><i class="fa-solid fa-car"></i> En voiture</h3>
  </div>
  <p>A partir de l’autoroute du Soleil A7 – Montélimar, Valence, Avignon, Lyon, Paris, Belgique, Suisse, Alemagne, Pays Bas et autres pays.</p>
  <ul>
    <li>
      Sur l’autoroute A7 sortie 18 (Montélimar-Sud).
    </li>
    <li>
      Ensuite prendre la N7 et puis la D133 qui deviens la D541 en direction de Grignan, Nyons.
    </li>
    <li>
      A la sortie du village de Grignan, prendre à gauche dans la D14 en direction de Taulignan.
    </li>
    <li>
      Suivre la route qui devient la D24, passer le village de Taulignan et continuer en direction de Nyons.
    </li>
    <li>
      Au rond point prendre à droite sur la D538 en direction de Montbrison, Nyons.
    </li>
    <li>
      Continuer sur cette route, passer le village de Montbrison et peu après vous arriverez à hauteur du Pègue, prendre la 3e et dernière entrée au village sur la gauche (the D552).
    </li>
    <li>
      Les Terrasses du Soleil seront sur votre droite juste avant d’arriver dans le village, premier portail en bois entre les cyprès juste après le panneau routier Le Pègue.
    </li>
    <li>
      Si vous traversez le village de Rousset les vignes, faites demi-tour, vous êtes un kilomètre trop loin.
    </li>
  </ul>

  <p>De Nyons ou Venterol:</p>
  <ul>
    <li>
      Prendre la D538 à la sortie de la ville et continuer pendant 10 minutes jusqu’à un rond point où il faut prendre à droite.
    </li>
    <li>
      Continuer encore sur la même route jusqu’à voir le panneau Le Pègue après le village de Rousset les Vignes.
    </li>
    <li>
      Prendre la première à droite.
    </li>
    <li>
      Les Terrasses du Soleil seront sur votre droite juste avant d’arriver dans le village, premier portail en bois entre les cyprès juste après le panneau routier Le Pègue.
    </li>
    <li>
      Notez qu’il y a sur la propriété des Terrasses du Soleil un grand parking à l’ombre pour prendre soin de votre voiture et de ses occupants ainsi qu’un garage fermé si vous venez en moto!
    </li>
  </ul>
</div>

<div class="m-2 mt-4">
  <div class="listed-events justify-content-center mb-2">
    <h3><i class="fa-solid fa-train-subway"></i> En train</h3>
  </div>
  <p>La manière la plus facile de planifier son arrivée en train est d’utiliser le site web <strong><a href="https://www.sncf-connect.com/en-en/?redirect=yes&origin=nl_nl" target="_blank" class="infos-link">Voyages-SNCF.com</a></strong></p>

  <strong><p><a href="https://www.garesetconnexions.sncf/fr/gare/frvla/valence-tgv-rhone-alpes-sud" target="_blank" class="infos-link">Valence TGV</a></strong> est la gare TGV qui permet le plus de connections directes ou via Lyon-35m ou Paris-2h, pour les différentes villes Européennes (Bruxelles-4h, Londres-6h, Genève-2h30, Frankfort-7h, Amsterdam-7h, etc).</p>

  <p>La gare de Valence TGV a un service de bus– bus 74 et bus 76, des connections de trains/bus pour Montélimar, des taxis et un service de location de véhicules.</p>

  <p>Par contre la gare la plus proche est celle de Montélimar Gare SNCF dans le centre de Montélimar, où il y a également un service de location de véhicules, des bus direct (36 et 71) pour la ville de Valréas (le plus proche du Pègue) ansi qu’un service de taxis.</p>

  <p>Il y a des trains directs pour Paris (Gare Du Lyon), Avignon, Marseille, Lyon, Valence, etc.</p>
</div>

<%# Mapbox attempt %>
<%# <div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>
  <%# data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>
<%# </div> %>
